<h1>Litado de Productos</h1>
<%= link_to "Crear producto", products_new_path%>
<hr>
<table>
  <tr>
    <thead>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
    </thead>
  </tr>
  <% @products.each do |product|%> 
    <tr>
      <td><%= product.name%></td>
      <td><%= product.description%></td>
      <td><%= product.price%></td>
      <td>
        <%= link_to "Mostrar", product_path(product)%>
        <%= link_to "Editar", edit_product_path(product)%>
        <%= link_to "Eliminar", delete_product_path(product), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }%>
      </td>
    </tr>
  <% end%>
</table>